.center_align{
    text-align: center;
    color: #1e90ff;
}

section {
    background-color:  #f4f4f9;
}

#font{
    font-family: Arial, Helvetica, sans-serif;
}

.font_size{
    font-size: 190%;
}