*{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}



.text_color {
    color :#1e90ff;
}


.resize_input {
    height: 30;
    width: 190;
    outline-style: auto;
    outline-color: #1e90ff;
}


textarea{
    width: 190;
    height: 80;
    outline-style: auto;
    outline-color: #1e90ff;
}


.color_button{
    font-size: larger;
    height: 30;
    width: 105;
    color: aliceblue;
    background-color: #00bfff;
  
}