
*{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}


.title{
    color: blue;
}

section{
    background-color: rgb(194, 235, 235);

}
section:hover{
    background-color: rgb(222, 235, 239);
}
