
* {
    font-family: Arial, sans-serif;
}
body {
    background-color: #f0f9ff;
    color: #11192a;
    font-size: 110%;
}
#header {
    background-color: #0285c7e7;
    color: white;
    text-align: center;
}
#header h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.slogan {
    font-style: italic;
}

h2 {
    color: #0981c1;
    text-transform: capitalize;
}

h2 + p {
    color: #334155;
    line-height: 1.4;
}

.intro p {
    line-height: 1.5;
}

.philosophy em {
    font-style: italic;
    color: #0ea4e9e8;
}

.services ul {
    list-style: none;
    cursor: pointer;
}

.services li::before {
    content: "🦷";
}

.services li:hover {
    color: #28adef;
}
.warning {
    color: red;
    font-style: italic;
}
      
.contact a {
    color:blue;
    text-decoration: none;
}

a[target="_blank"] {
    text-decoration: underline;
    font-weight: bold;
}

.contact a:hover {
    color: #125a84;
}
.footer {
    text-align: center;
    color: #fff;
    font-size: 32px;
    font-weight: 900;
    background-color: #0284c7;
}